:root {
    --eerie: #222;
    --neon: #2541B2;
    --khaki: #C0C1A4;
    --timberwolf: #CFCBCA;
    --mauveine: #791E94;
}

body{
    font-family: Comic Sans MS, Arial, sans-serif;
    line-height: 1.5;
    color: var(--eerie);
    background-color: var(--timberwolf);
    margin: 0;
    padding: 0;
    font-size: 100%;
}

    body a {
        color: var(--neon)
    }
    
        body a:hover {
            color: var(--mauveine)
        }

    body header nav{
        background-color: var(--khaki);
        padding: 0.5rem 0;
    }

        body header nav .flex-container{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            justify-content: space-between;
        }

            body header nav .flex-container a{
                color: var(--neon);
                padding: 0 1rem;
                text-decoration: none;
                font-weight: bold;
            }

                body header nav .flex-container a:hover{
                    color: var(--mauveine);
                    text-decoration: underline;
                }
    
    body header h1,
    body header p{
        text-align: center;
    }
    
    body header h1,
    body header p,  
    .main-content {
        margin: 2rem auto;
        width: 80%;
    }

        #photo img{
            display: block;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            height: 220px;
            width: auto;
        }

        #contact-information,
        #about,
        #skills,
        #work-experience,
        #education,
        #references {
            padding: 1.5rem;
            border: 3px solid var(--eerie);
            margin-bottom: 1.5rem;
            box-shadow: 2px 2px 4px var(--khaki), 4px 4px 4px var(--neon);
        }

        
        #contact-information p{
            color: var(--neon);
            text-decoration: underline;
        }

            #contact-information p:hover {
                color: var(--mauveine);
                text-decoration: line-through underline;
            }
        
        #work-experience ul,
        #education ul {
            list-style-type: none;
            padding: 0;
        }

            #work-experience li,
            #education li {
                padding: 0 0 1rem 0;
            }

        #skills .flex-container {
            display: flex;
            flex-wrap: wrap;
        }

            #skills .flex-container div{
                padding: 0 0.33rem 0 0;
            }

            #skills a {
                color: var(--eerie);
                text-decoration: none;
            }

                #skills a:hover {
                    color: var(--mauveine)
                }
    
    #photo h2 {
        display: none;
    }

footer {
    text-align: center;
}

@media only screen and (max-width: 720px) {
    body h2,
    body a,
    body p {
        overflow-wrap: break-word;
    }

        body header nav {
            width: 100%;
        }

            body header nav .flex-container {
                flex-direction: column;
                flex-wrap: nowrap;
            }

                body header nav .flex-container a {
                    padding: 0;
                }
}